body {
  margin: 10;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: black;
}

.title {
  margin-top: 10px;
  font-size: 3rem;
  display: inline-block;
  color: rgb(150, 233, 27);
}

.author {
  display: inline-block;
  font-size: 1.4rem;
  color: rgb(86, 131, 47);
}

#tutorial {
  color: gray;
  font-family: 'Courier New', Courier, monospace;
  position: fixed;
  margin-left: 100px;
  margin-top: 20px;
  z-index: 2;
  font-size: 1.8rem;
  user-select: none;
  pointer-events: none;
}

#tutorial p {
  margin-top: 10px;
  margin-bottom: 0;
}

#game {
  display: inline-grid;
  border: 1px solid white;
  grid-template-columns: repeat(70, 25px);
  margin-top: 15px;
}

.title, #game {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.cell {
  display: inline-block;
  height: 25px;
  width: 25px;
  border: 1px solid black;
}

.life {
  background: rgb(140, 233, 27);
}